<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NLog" version="4.5.10" targetFramework="net46" />
  <package id="OpenTK" version="3.0.1" targetFramework="net46" />
  <package id="OpenTK.GLControl" version="3.0.1" targetFramework="net46" />
  <package id="System.Buffers" version="4.5.0" targetFramework="net46" />
  <package id="Zstandard.Net" version="1.1.6" targetFramework="net46" />
</packages>